/*

    Thanks, attributions & links
    *************************************
    Thanks to both Stryxin's dark mode module (https://github.com/Stryxin/dnd5edark-foundryvtt)
    and Felix's BetterNPCSheet module (https://github.com/syl3r86/BetterNPCSheet5e)
    which have both helped me tremendously in understanding how to structure my own
    module.
    Lovers Quarrel font: https://fonts.google.com/specimen/Lovers+Quarrel
    Anglo-text font: https://www.1001fonts.com/anglo-text-font.html
        For more drop-cap fonts: https://www.1001fonts.com/drop-caps-fonts.html
        And how to add them: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
    Dark background 1: https://www.publicdomainpictures.net/en/view-image.php?image=169017&picture=grunge-background
    Parchment 1, by FilterForge : https://www.flickr.com/photos/filterforge/9340122531

*/

/*
    Variables for uniform color control
*/

.sheet.journal-entry {
    --dark-mode-journal-dark-accent-color: #061a5e;
    --dark-mode-journal-base-accent-color: #3F88E6;
    --dark-mode-journal-light-accent-color: #5a9cf1;
    --dark-mode-journal-translucent-accent-color: #00239440;
    --dark-mode-journal-header-color: #bfbfbf;
    --dark-mode-journal-base-text-color: #bfbfbf;
    --dark-mode-journal-link-color: #3F88E6;
    --dark-mode-journal-link-visited-color: #5a9cf1;
    --dark-mode-journal-window-text-color: #bfbfbf;
    --dark-mode-journal-button-background-color: #1a1a1a;
    --dark-mode-journal-button-hover-color: #272727;
    --dark-mode-journal-background-color: #a5afb4bb;
    --dark-mode-journal-background-texture-image: #131313;
}

/************************************************
	Headers and text
************************************************/

.sheet.journal-entry.dark-mode-journal .journal-entry-content {
    color: var(--dark-mode-journal-header-color);
}
.sheet.journal-entry.dark-mode-journal .journal-page-content h1,
.sheet.journal-entry.dark-mode-journal .journal-page-content h2,
.sheet.journal-entry.dark-mode-journal .journal-page-content h3 {
    border-bottom: 1px solid var(--dark-mode-journal-base-accent-color);
    color: var(--dark-mode-journal-header-color);
}

.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>h3,
.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>h4,
.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>h5,
.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>h6 {
    color: var(--dark-mode-journal-header-color);
}

.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>p {
    color: var(--dark-mode-journal-base-text-color);
}

/* bullet-point list */

.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>ul {
    color: var(--dark-mode-journal-base-text-color);
}

/* tables in general */

.sheet.journal-entry.dark-mode-journal .journal-page-content tbody {
    color: var(--dark-mode-journal-base-text-color);
}

/* table header cells */

.sheet.journal-entry.dark-mode-journal .journal-page-content th {
    color: var(--dark-mode-journal-header-color);
}

/* MEME minimal compatibility */

.sheet.journal-entry.dark-mode-journal .journal-page-content .CodeMirror {
    color: var(--dark-mode-journal-base-text-color);
}

/* The cursor indicating where you are writing */

.sheet.journal-entry.dark-mode-journal .journal-page-content .CodeMirror-cursor {
    border-left: 1px solid var(--dark-mode-journal-base-text-color);
}

/************************************************
    Special text and highlights
************************************************/

.sheet.journal-entry.dark-mode-journal .journal-page-content .editor-content>blockquote {
    color: var(--dark-mode-journal-dark-text-color);
}

.sheet.journal-entry.dark-mode-journal .journal-page-content ::selection {
    background: var(--dark-mode-journal-base-accent-color);
}

/* Links (internet) */

.sheet.journal-entry.dark-mode-journal a:link {
    color: var(--dark-mode-journal-link-color);
}

.sheet.journal-entry.dark-mode-journal a:visited {
    color: var(--dark-mode-journal-link-visited-color);
}

.sheet.journal-entry.dark-mode-journal a:hover {
    color: var(--dark-mode-journal-link-color);
    text-shadow: 0px 0px 2px var(--dark-mode-journal-light-accent-color);
}

/* Links (entity, rolls) */

.sheet.journal-entry.dark-mode-journal .journal-page-content a.entity-link,
.sheet.journal-entry.dark-mode-journal .journal-page-content a.content-link,
.sheet.journal-entry.dark-mode-journal .journal-page-content a.inline-roll {
    background-color: var(--dark-mode-journal-button-background-color);
}

/* Secret section */

.sheet.journal-entry.dark-mode-journal .journal-page-content section.secret {
    color: var(--dark-mode-journal-base-text-color);
    background-color: #df94ee20;
}

/* Modifies Polyglot CSS */

.sheet.journal-entry.dark-mode-journal .journal-page-content .polyglot-journal {
    background-color: var(--dark-mode-journal-translucent-accent-color);
}

/* 
    OPTION Drop cap - you can add font and color options to this block, too!
    Changing sizes and fonts might require you to test and tweak quite a bit
    to get exactly the effect you want, but hey, drop caps are cool! 
*/

.sheet.journal-entry.dark-mode-journal .journal-page-content span.drop-cap {
    float: left;
    font-family: 'anglo_textregular';
    font-size: 3em;
    line-height: 0.8em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: var(--dark-mode-journal-header-color);
}

/************************************************
    OPTION Added block styles
************************************************/

.sheet.journal-entry.dark-mode-journal .journal-page-content section.simple-block {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-translucent-accent-color);
    border: 1px solid var(--dark-mode-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.sheet.journal-entry.dark-mode-journal .journal-page-content section.simple-block-float {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-translucent-accent-color);
    border: 1px solid var(--dark-mode-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

.sheet.journal-entry.dark-mode-journal .journal-page-content section.ridged-block {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-translucent-accent-color);
    border: 5px ridge var(--dark-mode-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.sheet.journal-entry.dark-mode-journal .journal-page-content section.ridged-block-float {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-translucent-accent-color);
    border: 5px ridge var(--dark-mode-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

/************************************************
    Background and various window elements
************************************************/

/* Journal title */

.sheet.journal-entry.dark-mode-journal .journal-entry-content input[type="text"] {
    color: var(--dark-mode-journal-header-color);
}

.sheet.journal-entry.dark-mode-journal input[type="text"]:focus,
.sheet.journal-entry.dark-mode-journal input[type="text"]:hover {
    box-shadow: 0 0 10px var(--dark-mode-journal-base-accent-color);
}

/* Background */

.sheet.journal-entry.dark-mode-journal .journal-entry-content {
    background: var(--dark-mode-journal-background-texture-image);
}

.sheet.journal-entry.dark-mode-journal .journal-entry-content button {
    background-color: var(--dark-mode-journal-button-background-color);
    color: var(--dark-mode-journal-window-text-color);
    border-color: var(--dark-mode-journal-button-hover-color);
}

.sheet.journal-entry.dark-mode-journal .journal-page-content button:hover {
    background-color: var(--dark-mode-journal-button-hover-color);
    box-shadow: 0 0 10px var(--dark-mode-journal-base-accent-color);
}

.sheet.journal-entry.dark-mode-journal .scrollable {
    scrollbar-color: var(--dark-mode-journal-base-accent-color) var(--dark-mode-journal-dark-accent-color);
    scrollbar-width: thin;
}

.sheet.journal-entry.dark-mode-journal .window-content ::-webkit-scrollbar-thumb {
    background: var(--dark-mode-journal-dark-accent-color);
    border: 1px solid var(--dark-mode-journal-base-accent-color);
}

/* Folder dropdown - upper bar */

.sheet.journal-entry.dark-mode-journal .editable select[name="folder"] {
    color: var(--dark-mode-journal-window-text-color);
    background: var(--dark-mode-journal-background-texture-image);
}

.dark-mode-journal .editable select[name="folder"]:focus, .dark-mode-journal .editable select[name="folder"]:hover {
    box-shadow: 0 0 5px var(--dark-mode-journal-base-accent-color);
}

/* Folder dropdown - the actual dropdown */

.sheet.journal-entry.dark-mode-journal .editable select[name="folder"] option {
    color: var(--dark-mode-journal-window-text-color);
    background-color: var(--dark-mode-journal-button-hover-color);
}

/*
    One Journal compatibility
*/

/* Background with OneJournal */

#OneJournalShell .sheet.journal-entry.dark-mode-journal.one-journal-attached .window-content {
    background: var(--dark-mode-journal-background-texture-image);
}

/* Entry title underline with OneJournal */

.sheet.journal-entry.dark-mode-journal.one-journal-attached form input[name="name"] {
    border-color: var(--dark-mode-journal-base-accent-color);
}

/************************************************
    Editor 
    OPTION - depending on if you want the editing experience to be more or less
    the same as the modified presentation, or a more streamlined editing look, it
    is here that you should look to enable, disable, or tweak things.
************************************************/

/* Background */

.sheet.journal-entry.dark-mode-journal .editor .tox-edit-area {
    /* background: var(--dark-mode-journal-background-texture-image); */
    background-color: var(--dark-mode-journal-background-color);
}

/* Buttons in edit mode */

.sheet.journal-entry.dark-mode-journal button {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

.sheet.journal-entry.dark-mode-journal button:hover {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-hover-color);
}

/* Header bar where the buttons are in edit mode */

.sheet.journal-entry.dark-mode-journal .tox-toolbar-overlord,
.dark-mode-journal .tox-toolbar__primary {
    background-color: var(--dark-mode-journal-background-color);
}

/* Button to go into edit mode */

.sheet.journal-entry.dark-mode-journal .editor-edit {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

/* Allows for the button images to be in colour */

.sheet.journal-entry.dark-mode-journal .tox :not(svg):not(rect) {
    fill: var(--dark-mode-journal-base-text-color);
    color: var(--dark-mode-journal-base-text-color);
}

/************************************************
Table of contents and the entire side panael for pages
that was introduced in v10's Journals 2.0 update.
************************************************/
/* ToC */
.sheet.journal-entry.dark-mode-journal .journal-sidebar {
    background: var(--dark-mode-journal-background-texture-image);
}

.sheet.journal-entry.dark-mode-journal .pages-list .directory-item.active:first-of-type {
    border-top: 1px solid gray;
    border-bottom: 1px solid transparent;
}

.sheet.journal-entry.dark-mode-journal .pages-list .directory-item.active + :not(.active) {
    border-top: 1px solid gray;
}

.sheet.journal-entry.dark-mode-journal .pages-list .directory-item {
    border-top: 1px solid gray;
}

.sheet.journal-entry.dark-mode-journal .header-search input[type="search"],
.sheet.journal-entry.dark-mode-journal .header-search input[type="search"]::placeholder  {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

.sheet.journal-entry.dark-mode-journal .header-search input[type="search"]:-ms-input-placeholder {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

.sheet.journal-entry.dark-mode-journal .header-search input[type="search"]::-ms-input-placeholder {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

.sheet.journal-entry.dark-mode-journal .action-buttons button {
    color: var(--dark-mode-journal-base-text-color);
    background-color: var(--dark-mode-journal-button-background-color);
}

.sheet.journal-entry.dark-mode-journal .page-title {
    font-size: 1.5em;
    color: var(--dark-mode-journal-header-color);
}

.sheet.journal-entry.dark-mode-journal .heading-link {
    font-size: 1.3em;
    color: var(--dark-mode-journal-header-color);
}

.sheet.journal-entry.dark-mode-journal .pages-list .directory-item:active,
.sheet.journal-entry.dark-mode-journal .pages-list .directory-item:hover,
.sheet.journal-entry.dark-mode-journal .heading-link:active,
.sheet.journal-entry.dark-mode-journal .heading-link:hover {
    color: var(--dark-mode-journal-light-accent-color);
}