/*
    Thanks, attributions & links
    *************************************
    Thanks to both Stryxin's dark mode module (https://github.com/Stryxin/dnd5edark-foundryvtt)
    and Felix's BetterNPCSheet module (https://github.com/syl3r86/BetterNPCSheet5e)
    which have both helped me tremendously in understanding how to structure my own
    module.
    Lovers Quarrel font: https://fonts.google.com/specimen/Lovers+Quarrel
    Anglo-text font: https://www.1001fonts.com/anglo-text-font.html
        For more drop-cap fonts: https://www.1001fonts.com/drop-caps-fonts.html
        And how to add them: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
    Dark background 1: https://www.publicdomainpictures.net/en/view-image.php?image=169017&picture=grunge-background
    Parchment 1, by FilterForge : https://www.flickr.com/photos/filterforge/9340122531

*/

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

.sheet.journal-entry  {
    --handwritten-background-texture-image: url('../textures/parchment-1.jpg');
    --handwritten-background-panel-image: url('../textures/parchment-2.png');
    --handwritten-base-font: 'Lovers Quarrel', cursive;
    --handwritten-hr-color:  '#996a42';
    --handwritten-polyglot-color: '#b38e4c60';
    --handwritten-button-color: '#a5856b';
    --handwritten-button-background-color: '#604020';
}

/************************************************
	Headers and text
************************************************/
.sheet.journal-entry.handwritten-letter .journal-page-content h1,
.sheet.journal-entry.handwritten-letter .journal-page-content h2,
.sheet.journal-entry.handwritten-letter .journal-page-content h3 {
    border-bottom: 0px;
    font-family: var(--handwritten-base-font);
    line-height: 85%;
}

.sheet.journal-entry.handwritten-letter  .journal-entry-content h1 {
    font-size: 2em;
}

.sheet.journal-entry.handwritten-letter  .journal-entry-content h2 {
    font-size: 1.5em;
}

.sheet.journal-entry.handwritten-letter  .journal-entry-content h3 {
    font-size: 1.25em;
}

.sheet.journal-entry.handwritten-letter .journal-page-content {
    line-height: 100%;
    font-size: 2em;
}

.sheet.journal-entry.handwritten-letter .journal-page-content hr {
    border-color: var(--handwritten-hr-color);
    border-radius: 35%;
    border-width: 2px;
}

/* MEME minimal compatibility */

.handwritten-letter .journal-entry-content .CodeMirror p, 
.handwritten-letter .journal-entry-content .CodeMirror ul {
    font-family: var(--handwritten-base-font);
    font-size: 2.2em;
}

/************************************************
    Special text and highlights
************************************************/

/* Modifies Polyglot CSS */

.handwritten-letter .journal-entry-content .polyglot-journal {
    background-color: var(--handwritten-polyglot-color);
}

/************************************************
    Background and various window elements
************************************************/

/* Background */

.sheet.journal-entry.handwritten-letter .journal-entry-content {
    background: var(--handwritten-background-texture-image);
    background-size: cover;
    font-family: var(--handwritten-base-font);
}

/* ToC */
.sheet.journal-entry.handwritten-letter .journal-sidebar {
    background-image: var(--handwritten-background-panel-image);
    background-size: cover;
}

.sheet.journal-entry.handwritten-letter .directory-header,
.sheet.journal-entry.handwritten-letter .pages-list,
.sheet.journal-entry.handwritten-letter .action-buttons {
    background: rgba(0,0,0, 0.5);
    font-family: var(--handwritten-base-font);
    font-weight: bolder;
    color: var(--handwritten-button-color);
}

.sheet.journal-entry.handwritten-letter .header-search input[type="search"],
.sheet.journal-entry.handwritten-letter .header-search input[type="search"]::placeholder  {
    color: var(--handwritten-button-color);
    background-color: var(--handwritten-button-background-color);
}

.sheet.journal-entry.handwritten-letter .header-search input[type="search"]:-ms-input-placeholder {
    color: var(--handwritten-button-color);
    background-color: var(--handwritten-button-background-color);
}

.sheet.journal-entry.handwritten-letter .header-search input[type="search"]::-ms-input-placeholder {
    color: var(--handwritten-button-color);
    background-color: var(--handwritten-button-background-color);
}

.sheet.journal-entry.handwritten-letter .action-buttons button {
    font-family: var(--handwritten-base-font);
    font-weight: bolder;
    color: var(--handwritten-button-color);
    background-color: var(--handwritten-button-background-color);
}

.sheet.journal-entry.handwritten-letter .page-title {
    font-size: 1.5em;
}

.sheet.journal-entry.handwritten-letter .heading-link {
    font-size: 1.3em;
}

/*
One Journal compatibility
*/

/* Background with OneJournal */

#OneJournalShell .handwritten-letter.one-journal-attached .window-content {
    background: var(--handwritten-background-texture-image);
}

/* Entry title underline with OneJournal */

/* .handwritten-letter.one-journal-attached form input[name="name"] {
  border-width: 0;
} */