/*

    Thanks, attributions & links
    *************************************
    Thanks to both Stryxin's dark mode module (https://github.com/Stryxin/dnd5edark-foundryvtt)
    and Felix's BetterNPCSheet module (https://github.com/syl3r86/BetterNPCSheet5e)
    which have both helped me tremendously in understanding how to structure my own
	module.
	Play font: https://fonts.google.com/specimen/Play
	Montserrat font: https://fonts.google.com/specimen/Montserrat
    Lovers Quarrel font: https://fonts.google.com/specimen/Lovers+Quarrel
    Anglo-text font: https://www.1001fonts.com/anglo-text-font.html
        For more drop-cap fonts: https://www.1001fonts.com/drop-caps-fonts.html
        And how to add them: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
    Dark background 1: https://www.publicdomainpictures.net/en/view-image.php?image=169017&picture=grunge-background
    Parchment 1, by FilterForge : https://www.flickr.com/photos/filterforge/9340122531

*/

/*
    Variables for uniform color control
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Play&display=swap');

body {
    --sci-fi-one-journal-dark-accent-color: #10504b;
    --sci-fi-one-journal-base-accent-color: #0f5f58;
    --sci-fi-one-journal-light-accent-color: #19978d;
    --sci-fi-one-journal-translucent-accent-color: #19978d40;
    --sci-fi-one-journal-header-color: #64f1a3;
    --sci-fi-one-journal-base-text-color: #bfbfbf;
    --sci-fi-one-journal-link-color: #64f1a3;
    --sci-fi-one-journal-link-visited-color: #4aa171;
    --sci-fi-one-journal-window-text-color: #bfbfbf;
    --sci-fi-one-journal-button-background-color: #020f0e;
    --sci-fi-one-journal-button-hover-color: #062523;
    --sci-fi-one-journal-background-color: #a5afb4bb;
    --sci-fi-one-journal-background-texture-image: radial-gradient(#041b1a, #010a09);
    --sci-fi-one-journal-header-font: 'Play', sans-serif;
    --sci-fi-one-journal-base-font: 'Montserrat', sans-serif;
}

/************************************************
	Headers and text
************************************************/

.sheet.journal-entry.sci-fi-one-journal h1,
.sheet.journal-entry.sci-fi-one-journal h2,
.sheet.journal-entry.sci-fi-one-journal h3 {
    border-bottom: 1px solid var(--sci-fi-one-journal-base-accent-color);
    color: var(--sci-fi-one-journal-header-color);
    font-family: var(--sci-fi-one-journal-header-font);
}

.sheet.journal-entry.sci-fi-one-journal h4,
.sheet.journal-entry.sci-fi-one-journal h5,
.sheet.journal-entry.sci-fi-one-journal h6 {
    color: var(--sci-fi-one-journal-header-color);
    font-family: var(--sci-fi-one-journal-header-font);
}

.sheet.journal-entry.sci-fi-one-journal p {
    color: var(--sci-fi-one-journal-base-text-color);
    font-family: var(--sci-fi-one-journal-base-font);
}

/* bullet-point list */

.sheet.journal-entry.sci-fi-one-journal ul {
    color: var(--sci-fi-one-journal-base-text-color);
}

/* numbered list */

.sheet.journal-entry.sci-fi-one-journal ol {
    color: var(--sci-fi-one-journal-base-text-color);
}

/* tables in general */

.sheet.journal-entry.sci-fi-one-journal tbody {
    color: var(--sci-fi-one-journal-base-text-color);
}

/* table header cells */

.sheet.journal-entry.sci-fi-one-journal th {
    color: var(--sci-fi-one-journal-header-color);
}

/* MEME minimal compatibility */

.sheet.journal-entry.sci-fi-one-journal .CodeMirror {
    color: var(--sci-fi-one-journal-base-text-color);
}

/* The cursor indicating where you are writing */

.sheet.journal-entry.sci-fi-one-journal .CodeMirror-cursor {
    border-left: 1px solid var(--sci-fi-one-journal-base-text-color);
}

/************************************************
    Special text and highlights
************************************************/

.sheet.journal-entry.sci-fi-one-journal blockquote {
    color: var(--sci-fi-one-journal-base-text-color);
}

.sheet.journal-entry.sci-fi-one-journal ::selection {
    background: var(--sci-fi-one-journal-light-accent-color);
}

/* Links (internet) */

.sheet.journal-entry.sci-fi-one-journal a:link {
    color: var(--sci-fi-one-journal-link-color);
}

.sheet.journal-entry.sci-fi-one-journal a:visited {
    color: var(--sci-fi-one-journal-link-visited-color);
}

.sheet.journal-entry.sci-fi-one-journal a:hover {
    color: var(--sci-fi-one-journal-link-color);
    text-shadow: 0px 0px 2px var(--sci-fi-one-journal-light-accent-color);
}

/* Links (entity, rolls) */

.sheet.journal-entry.sci-fi-one-journal a.content-link,
.sheet.journal-entry.sci-fi-one-journal a.entity-link,
.sheet.journal-entry.sci-fi-one-journal a.inline-roll {
    background-color: var(--sci-fi-one-journal-button-background-color);
}

/* Secret section */

.sheet.journal-entry.sci-fi-one-journal section.secret {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: #df94ee20;
}

/* Modifies Polyglot CSS */

.sheet.journal-entry.sci-fi-one-journal .polyglot-journal {
    background-color: #0c5c5663;
}

/************************************************
    OPTION Drop cap - you can add font and color options to this block, too!
    Changing sizes and fonts might require you to test and tweak quite a bit
    to get exactly the effect you want, but hey, drop caps are cool! 
************************************************/

.sheet.journal-entry.sci-fi-one-journal span.drop-cap {
    float: left;
    font-family: 'anglo_textregular';
    font-size: 3em;
    line-height: 0.8em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: var(--sci-fi-one-journal-header-color);
}

/************************************************
    OPTION Added block styles
************************************************/

.sheet.journal-entry.sci-fi-one-journal section.simple-block {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-translucent-accent-color);
    border: 1px solid var(--sci-fi-one-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.sheet.journal-entry.sci-fi-one-journal section.simple-block-float {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-translucent-accent-color);
    border: 1px solid var(--sci-fi-one-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

.sheet.journal-entry.sci-fi-one-journal section.ridged-block {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-translucent-accent-color);
    border: 5px ridge var(--sci-fi-one-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
}

.sheet.journal-entry.sci-fi-one-journal section.ridged-block-float {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-translucent-accent-color);
    border: 5px ridge var(--sci-fi-one-journal-base-accent-color);
    padding: 4px;
    margin-right: 2%;
    margin-left: 2%;
    width: 35%;
    float: right;
}

/************************************************
    Background and various window elements
************************************************/

/* Journal title */

.sheet.journal-entry.sci-fi-one-journal .journal-entry-content input[type="text"] {
    color: var(--sci-fi-one-journal-header-color);
}

.sheet.journal-entry.sci-fi-one-journal .journal-entry-content input[type="text"]:focus,
.sheet.journal-entry.sci-fi-one-journal .journal-entry-content input[type="text"]:hover {
    box-shadow: 0 0 10px var(--sci-fi-one-journal-base-accent-color);
}

/* Background */

.sheet.journal-entry.sci-fi-one-journal .journal-entry-content {
    background: var(--sci-fi-one-journal-background-texture-image);
}

.sheet.journal-entry.sci-fi-one-journal button {
    background-color: var(--sci-fi-one-journal-button-background-color);
    color: var(--sci-fi-one-journal-window-text-color);
    border-color: var(--sci-fi-one-journal-button-hover-color);
}

.sheet.journal-entry.sci-fi-one-journal button:hover {
    background-color: var(--sci-fi-one-journal-button-hover-color);
    box-shadow: 0 0 10px var(--sci-fi-one-journal-base-accent-color);
}

.sheet.journal-entry.sci-fi-one-journal ::-webkit-scrollbar-thumb {
    background: var(--sci-fi-one-journal-dark-accent-color);
    border: 1px solid var(--sci-fi-one-journal-base-accent-color);
}

/* Folder dropdown - upper bar */

.sheet.journal-entry.sci-fi-one-journal .editable select[name="folder"] {
    color: var(--sci-fi-one-journal-window-text-color);
    background: var(--sci-fi-one-journal-background-texture-image);
}

.sheet.journal-entry.sci-fi-one-journal .editable select[name="folder"]:focus, .sci-fi-one-journal .editable select[name="folder"]:hover {
    box-shadow: 0 0 5px var(--sci-fi-one-journal-base-accent-color);
}

/* Folder dropdown - the actual dropdown */

.sheet.journal-entry.sci-fi-one-journal .editable select[name="folder"] option {
    color: var(--sci-fi-one-journal-window-text-color);
    background-color: var(--sci-fi-one-journal-button-hover-color);
}

/*
    One Journal compatibility
*/

/* Background with OneJournal */

#OneJournalShell .sheet.journal-entry.sci-fi-one-journal.one-journal-attached .window-content {
    background: var(--sci-fi-one-journal-background-texture-image);
}

/* Entry title underline with OneJournal */

.sheet.journal-entry.sci-fi-one-journal.one-journal-attached form input[name="name"] {
    border-color: var(--sci-fi-one-journal-base-accent-color);
}

/************************************************
    Editor 
    OPTION - depending on if you want the editing experience to be more or less
    the same as the modified presentation, or a more streamlined editing look, it
    is here that you should look to enable, disable, or tweak things.
************************************************/

/* Background */

.sheet.journal-entry.sci-fi-one-journal .editor .tox-edit-area {
    background-color: var(--sci-fi-one-journal-background-color);
}

/* Buttons in edit mode */

.sheet.journal-entry.sci-fi-one-journal .editor button {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

.sheet.journal-entry.sci-fi-one-journal .editor button:hover {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-hover-color);
}

/* Header bar where the buttons are in edit mode */

.sheet.journal-entry.sci-fi-one-journal .editor .tox-toolbar-overlord, .sci-fi-one-journal .editor .tox-toolbar__primary {
    background-color: var(--sci-fi-one-journal-background-color);
}

/* Button to go into edit mode */

.sheet.journal-entry.sci-fi-one-journal .editor-edit {
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

/* Allows for the button images to be in colour */

.sheet.journal-entry.sci-fi-one-journal .tox :not(svg):not(rect) {
    fill: var(--sci-fi-one-journal-base-text-color);
    color: var(--sci-fi-one-journal-base-text-color);
}

/************************************************
Table of contents and the entire side panael for pages
that was introduced in v10's Journals 2.0 update.
************************************************/
/* ToC */
.sheet.journal-entry.sci-fi-one-journal .journal-sidebar {
    background: var(--sci-fi-one-journal-background-texture-image);
}

.sheet.journal-entry.sci-fi-one-journal .directory-header,
.sheet.journal-entry.sci-fi-one-journal .pages-list,
.sheet.journal-entry.sci-fi-one-journal .action-buttons {
    font-family: var(--sci-fi-one-journal-header-font);
    font-weight: bolder;
    color: var(--sci-fi-one-journal-base-text-color);
}

.sheet.journal-entry.sci-fi-one-journal .pages-list .directory-item.active:first-of-type {
    border-top: 1px solid gray;
    border-bottom: 1px solid transparent;
}

.sheet.journal-entry.sci-fi-one-journal .pages-list .directory-item.active + :not(.active) {
    border-top: 1px solid gray;
}

.sheet.journal-entry.sci-fi-one-journal .pages-list .directory-item {
    border-top: 1px solid gray;
}

.sheet.journal-entry.sci-fi-one-journal .header-search input[type="search"],
.sheet.journal-entry.sci-fi-one-journal .header-search input[type="search"]::placeholder  {
    font-family: var(--sci-fi-one-journal-header-font);
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

.sheet.journal-entry.sci-fi-one-journal .header-search input[type="search"]:-ms-input-placeholder {
    font-family: var(--sci-fi-one-journal-header-font);
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

.sheet.journal-entry.sci-fi-one-journal .header-search input[type="search"]::-ms-input-placeholder {
    font-family: var(--sci-fi-one-journal-header-font);
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

.sheet.journal-entry.sci-fi-one-journal .action-buttons button {
    font-family: var(--sci-fi-one-journal-header-font);
    font-weight: bolder;
    color: var(--sci-fi-one-journal-base-text-color);
    background-color: var(--sci-fi-one-journal-button-background-color);
}

.sheet.journal-entry.sci-fi-one-journal .page-title {
    font-size: 1.5em;
    color: var(--sci-fi-one-journal-header-color);
}

.sheet.journal-entry.sci-fi-one-journal .heading-link {
    font-size: 1.3em;
    color: var(--sci-fi-one-journal-header-color);
}

.sheet.journal-entry.sci-fi-one-journal .pages-list .directory-item:active,
.sheet.journal-entry.sci-fi-one-journal .pages-list .directory-item:hover,
.sheet.journal-entry.sci-fi-one-journal .heading-link:active,
.sheet.journal-entry.sci-fi-one-journal .heading-link:hover {
    color: var(--sci-fi-one-journal-light-accent-color);
}